[submodule "iex-campus-cluster/iex-downloader-parser"]
	path = iex-campus-cluster/iex-downloader-parser
	url = https://gitlab.engr.illinois.edu/ie421_high_frequency_trading_spring_2024/iex-downloader-parser
